@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Noto+Kufi+Arabic:wght@300;400;500;600;700&family=Noto+Sans+Arabic&display=swap');

body {
    background: #154d80;
    color: #000000;
    font-family: 'Cairo';
    font-weight: 400;
}

.container {
    border: 15px solid #aec1d2;
}

.container .sectiontitle h2 {
    font-size: 30px;
    line-height: 56px;
    color: #3E9BA4;
    /* padding-top: 20px; */
}


.container .sectiontitle p {
    font-size: 17px;
    /* line-height: 56px; */
    text-align: justify;
    /* letter-spacing: -0.015em; */
}

.accordion-item {
    border: 0;
}



.divaccordion-body {
    margin-top: -2px;
    border: 1px solid #aaaaaa69;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.accordion-button:not(.collapsed)::before {
    /* background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e); */
    transform: rotate(-90deg);
}

.accordion-button::before {
    flex-shrink: 0;
    margin: 0 5px;
    width: 1.25rem;
    height: 1.25rem;
    /* margin-left: auto; */
    content: "" !important;
    background-image: url(assets/images/arrow_sign_icon.png);
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}

.accordion-button::after {

    content: none;
}

.accordion-button {
    color: #030507;
    /* background-color: #e7f1ff; */
    background: url(/assets/images/aco_bg.png) repeat-x !important;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);
    padding: 0.2rem 1.25rem;
    color: #fff !important;
    font-weight: bold !important;
    border-top-left-radius: 7px !important;
    border-top-right-radius: 7px !important;
    height: 29px;
}

.accordion-button.collapsed {
    border-radius: 7px !important;

}

.form-select {
    width: 20%;
    margin: 0px 15px;
    padding: 0 1.25rem 0 0;

    background-color: #f3f3f3;

    background-position: left 0.75rem center;
}

.accordion-button:focus {
    box-shadow: 0 0 0 0;
}


.form-check .form-check-input {
    float: right;
    margin: 4px 10px;
}

.lable-title {
    width: 110px;
}

[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}

[data-title]:after {
    content: attr(data-title);
    display: block;
    position: absolute;
    bottom: -1.6em;
    left: 50%;
    padding: 4px 4px 4px 8px;
    color: #666;
    white-space: nowrap;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 4px #666;
    -webkit-box-shadow: 0px 0px 4px #666;
    box-shadow: 0px 0px 4px #666;
    line-height: 0.9;
    background-color: #fff;
    /* background-image: -moz-linear-gradient(top, #f0eded, #bfbdbd); */
    /* background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f0eded), color-stop(1, #bfbdbd)); */
    /* background-image: -webkit-linear-gradient(top, #f0eded, #bfbdbd);
    background-image: -moz-linear-gradient(top, #f0eded, #bfbdbd);
    background-image: -ms-linear-gradient(top, #f0eded, #bfbdbd);
    background-image: -o-linear-gradient(top, #f0eded, #bfbdbd); */
    opacity: 0;
    z-index: 99999;
    visibility: hidden;
}

[data-title] {
    position: relative;

}

.tooltip2 {
    width: 330px;
    /* border-radius: 10%; */
    position: absolute;
    color: rgb(0, 0, 0);
    display: flex;
    height: fit-content;
    background: rgb(255, 255, 255);
    z-index: 2;
    opacity: 0;
    right: 0;
    padding: 10px;
    pointer-events: none;
    border: 1px solid rgba(169, 169, 169, 0.754);
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

label:hover .tooltip2 {
    right: 40%;
    opacity: 1;
}

.section2 .postion {
    position: relative;
}

.form-control {
    width: 30%;
    background: #f3f3f3;
    border: 1px solid #bfbfbf;
    height: 25px;
}

.form-label {
    width: 120px;
}

.form-text {
    font-size: 12px;
    color: #09F;
}

#show1,
#show2,
#show3,
#showsection1,
#showsection2,
#numbersubscribersaccount {
    display: none;
}



#collapseOne h3 {
    font-size: 18px;
    color: #0A6E79;
    font-weight: bolder;
}

.btn-secondary {
    color: #000000;
    background-color: #E9E9E9;
    border-color: #3C969C;
}

@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 925px;
    }
}